# Dependências
node_modules/

# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivo de variáveis de ambiente (NUNCA envie para o GitHub)
.env

# Arquivos de sistema
.DS_Store
Thumbs.db
